<header
  class="sticky top-0 before:absolute before:inset-0 before:backdrop-blur-md max-lg:before:bg-white/90 dark:max-lg:before:bg-gray-800/90 before:-z-10 z-30 before:bg-white after:absolute after:h-px after:inset-x-0 after:top-full after:bg-gray-200 dark:after:bg-gray-700/60 after:-z-10 dark:before:bg-gray-900"
>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex"></div>
      <div class="flex items-center space-x-3">
        <div class="relative inline-flex">
          <button
            class="w-8 h-8 flex items-center justify-center hover:bg-gray-100 lg:hover:bg-gray-200 dark:hover:bg-gray-700/50 dark:lg:hover:bg-gray-800 rounded-full"
            aria-haspopup="true"
          >
            <lucide-icon [img]="notificationIcon" [size]="16"></lucide-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
